@model Microlink.Front.Models.CouponDto

<div class="container border p-3">
    <h1 class="text-white text-center">Delete Coupon</h1>
    <hr />
    <div class="row">
        <input asp-for="CouponId" hidden class="form-control" readonly />
        <div class="col-12">
            <p class="text-danger">Are you sure you want to delete this coupon?</p>
        </div>
        <div class="col-2">
            <label asp-for="CouponCode" class="control-label pt-2" style="font-size:20px;">Coupon Code</label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="CouponCode" class="form-control" readonly />
        </div>
        <div class="col-2">
            <label asp-for="DiscountAmount" class="control-label pt-2" style="font-size:20px;">Discount Amount</label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="DiscountAmount" class="form-control" readonly />
        </div>
        <div class="col-2">
            <label asp-for="MinAmount" class="control-label pt-2" style="font-size:20px;">Minimum Amount</label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="MinAmount" class="form-control" readonly />
        </div>
        <div class="col-5 offset-2">
            <a asp-action="Index" class="btn-primary btn form-control">Back to List</a>
        </div>
        <div class="col-5">
            <form asp-action="CouponDeleteConfirmed" method="post">
                <input type="hidden" asp-for="CouponId" />
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
